<%= form_for(@minor) do |f| %>
  <% if @minor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@minor.errors.count, "error") %> prohibited this minor from being saved:</h2>

      <ul>
      <% @minor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br>
    <%= f.number_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.number_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
