<%= form_for @minor, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ssn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssn, :class => 'text_field' %> <i>(format 123-12-1234)</i>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, :class => 'text_field' %> <i>(format: mm-dd-yyyy)</i>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :grade, :class => 'control-label' %>
    <div class="controls">
      <!-- %= f.text_field :grade, :class => 'text_field' %> -->
      <%= f.collection_select :grade, @grades, :to_s, :to_s, include_blank: true %>
    </div>
  </div>


  <!-- <div class="control-group">
    <! %= f.label :age, :class => 'control-label' %> -->
    <!--<div class="controls">
      %= f.text_field :age, readonly: true, type: "hidden", :class => 'text_field' %>
    </div>
  </div> -->
  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary span2' %>  
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                minors_path, :class => 'btn' %>
  </div>
<% end %>
