<h1>Listing minors</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Ssn</th>
      <th>Dob</th>
      <th>Age</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minors.each do |minor| %>
      <tr>
        <td><%= minor.FirstName %></td>
        <td><%= minor.LastName %></td>
        <td><%= minor.SSN %></td>
        <td><%= minor.DOB %></td>
        <td><%= minor.Age %></td>
        <td><%= minor.Grade %></td>
        <td><%= link_to 'Show', minor %></td>
        <td><%= link_to 'Edit', edit_minor_path(minor) %></td>
        <td><%= link_to 'Destroy', minor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minor', new_minor_path %>
