<div class="accordion-group" id="accordion">
        <div class="panel panel-default">
          <div class="accordion-heading">
            <h4 class="panel-title">
              <a href="#vaccine" class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-pushpin"></span> Student Information</a>
            </h4>
          </div>
          <div id="vaccine" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table table-striped">
                <thread>
                  <div class="pull-left">
                  <% @user.minors.each do |f| %>
                    <tr>
                      <th>First Name: </th>
                      <td><%= f.first_name %></td>
                    </tr>
                    <tr>
                      <th>Last Name: </th>
                      <td><%= f.last_name %></td>
                    </tr>
                    <tr>
                      <th>Age: </th>
                      <td><%= f.age %></td>
                    </tr>
                    <tr>
                      <th>Grade: </th>
                      <td><%= f.grade %></td>
                    </tr>
                  
                  </div>
                </thread>
              </table>
              <!-- <p>%= link_to "Edit Student", [current_user, f], class: 'btn btn-info' %></p> -->
              <% end %>
            </div>
          </div>
        </div>
       
        <div class="panel panel-default">
          <div class="accordion-heading">
            <h4 class="panel-title">
              <a href="#checkup" class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-ok"></span> Employer</a>
            </h4>
          </div>
          <div id="checkup" class="collapse panel-collapse">
            <div class="panel-body center-it">
              <p>Some Employer Here</p>
               <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

                <%= headshot_camera %>

                <br/>

                <%= headshot_snap_button %> <%= link_to "Stop Camera", class: "btn btn-warning" %>
              <p></p>
            </div>
          </div>
        </div> 
       
        <div class="accordion panel-default">
          <div class="accordion-heading">
            <h4 class="panel-title">
              <a href="#senior" class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-heart"></span> School</a>
            </h4>
          </div>
          <div id="senior" class="collapse panel-collapse">
            <div class="panel-body">
              <p>School Info Here </p>
              <p><a href="#" class="btn btn-success">Camera >></a></p>
            </div>
          </div>
        </div>
      </div> <!-- end of accordian -->  